{% extends "_layouts/cp" %}

{% includeCssResource('formerly/formerly.css') %}

{% macro questionMarkup(id, question) %}
	{% import '_includes/forms' as forms %}

	<div class="question matrixblock" data-id="{{ id }}">
		<div class="titlebar nocheckbox">
			<div class="blocktype"></div>
			<div class="preview"></div>
		</div>

		<div class="actions">
			<a class="move icon" role="button" title="Reorder"></a>
			<a class="delete icon" role="button" title="Actions"></a>
		</div>

		{% if question and question.getAllErrors() | length %}
			<ul>
				{% for error in question.getAllErrors() %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<div class="fields">
			{{ forms.textField({
				label: 'Name'|t,
				id: "questions-#{id}-name",
				name: "questions[#{id}][name]",
				value: question ? question.name,
				errors: question ? question.getErrors('name')
			}) }}

			{{ forms.checkbox({
				label: 'Required'|t,
				id: "questions-#{id}-required",
				name: "questions[#{id}][required]",
				checked: question ? question.required,
				errors: question ? question.getErrors('required')
			}) }}

			{{ forms.selectField({
				label: 'Type'|t,
				id: "questions-#{id}-type",
				name: "questions[#{id}][type]",
				value: question ? question.type,
				errors: question ? question.getErrors('type'),
				options: {
					PlainText: 'Text',
					MultilineText: 'Multiline Text',
					Coded: 'Coded',
					Dropdown: 'Dropdown',
					RadioButtons: 'Radio Buttons',
					Checkboxes: 'Checkboxes',
					Email: 'Email',
					Tel: 'Tel',
					Url: 'Url',
					Number: 'Number',
					Date: 'Date'
				}
			}) }}

			<div class="options">
				{{ forms.editableTableField({
					label: 'Options',
					id: "questions-#{id}-options",
					name: "questions[#{id}][options]",
					cols: {
						label: {
							heading: 'Label',
							type: 'singleline',
							width: '100%'
						},
						default: {
							heading: 'Default',
							type: 'checkbox'
						}
					},
					rows: question ? question.options
				}) }}
			</div>
		</div>
	</div>
{% endmacro %}

{% import _self as self %}
{% import '_includes/forms' as forms %}

{% block content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut="1">
		<input type="hidden" name="action" value="formerly/forms/saveForm">
		<input type="hidden" name="redirect" value="formerly/forms">

		{% if form.id %}
			<input type="hidden" name="formId" value="{{ form.id }}">
		{% endif %}

		{{ forms.textField({
			first: true,
			label: 'Name'|t,
			instructions: 'What this form will be called in the CP.'|t,
			id: 'name',
			name: 'name',
			value: form.name,
			errors: form.getErrors('name'),
			autofocus: true,
			required: true,
			translatable: true
		}) }}

		{{ forms.textField({
			label: 'Handle'|t,
			instructions: 'How you’ll refer to this form in the templates.'|t,
			id: 'handle',
			class: 'code',
			name: 'handle',
			value: form.handle,
			errors: form.getErrors('handle'),
			required: true
		}) }}

		<hr>

		<h2>Emails</h2>

		{{ forms.editableTableField({
			label: 'Options',
			id: 'emails',
			name: 'emails',
			cols: {
				to: {
					heading: 'To',
					type: 'singleline'
				},
				from: {
					heading: 'From',
					type: 'singleline'
				},
				subject: {
					heading: 'Subject',
					type: 'singleline'
				},
				body: {
					heading: 'Body',
					type: 'multiline'
				},
			},
			rows: form ? form.emails
		}) }}

		<hr>

		<h2>Questions</h2>

		<div id="questions" class="blocks">
			{% for questionId, question in questions %}
				{{ self.questionMarkup(questionId, question) }}
			{% endfor %}
		</div>

		<div class="buttons">
			<a id="add_question" href="javascript:void(0)" class="btn add icon">Add question</a>
		</div>

		<hr>

		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
		</div>
	</form>

	<script type="text/template" id="question_template">
		{{ self.questionMarkup('__QUESTION_ID__') }}
	</script>

{% endblock %}

{% set js %}
	{% if not form.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endset %}
{% includeJs js %}

{% includeJsResource 'formerly/formerly.js' %}
