<form method="post" accept-charset="utf-8">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="formerly/submissions/postSubmission">
	<input type="hidden" name="redirect" value="{{ craft.request.url }}?ok=1">
	<input type="hidden" name="formId" value="{{ form.id }}">

	<div id="form">
		<fieldset>
			<legend>{{ form.name }}</legend>

			{% if craft.request.getQuery('ok') %}
				<div class="ok">
					<h3>Message Sent</h3>
					<p>Thank you for submitting your enquiry. We will be in contact with you shortly</p>
				</div>
			{% endif %}

			{% if submission is defined and submission.getAllErrors() | length %}
				<div class="error">
					<h3>Please correct the following errors</h3>
					{% for error in submission.getAllErrors() %}
						<li>{{ error }}</li>
					{% endfor %}
				</div>
			{% endif %}

			<p class="required"><em>*</em> Denotes a required field</p>

			{% for question in form.getQuestions() %}

				{% switch question.type %}


					{% case 'PlainText' %}
						<div class="hidden_label">
							<label for="{{ question.handle }}">
								{{ question.name }}{% if question.required %}&nbsp;<em>*</em>{% endif %}
							</label>

							<input type="text"
								{% if question.required %}
									required
									aria-required="true"
									data-val-required="'{{ question.name }}' is required"
									data-val="true"
								{% endif %}
								class="text"
								placeholder="{{ question.name | upper }}"
								id="{{ question.handle }}"
								name="questions[{{ question.handle }}]"
								value="{{ submission is defined ? submission[question.handle] }}">
						</div>


					{% case 'MultilineText' %}
						<div class="hidden_label">
							<label for="{{ question.handle }}">
								{{ question.name }}{% if question.required %}&nbsp;<em>*</em>{% endif %}
							</label>

							<textarea
								{% if question.required %}
									required
									aria-required="true"
									data-val-required="'{{ question.name }}' is required"
									data-val="true"
								{% endif %}
								class="text"
								placeholder="{{ question.name | upper }}"
								cols="20" rows="2"
								id="{{ question.handle }}"
								name="questions[{{ question.handle }}]">{{ submission is defined ? submission[question.handle] }}</textarea>
						</div>


					{% case 'Dropdown' %}
						<label for="{{ question.handle }}">
							{{ question.name }}{% if question.required %}&nbsp;<em>*</em>{% endif %}
						</label>

						<select
							{% if question.required %}
								required
								aria-required="true"
								data-val-required="'{{ question.name }}' is required"
								data-val="true"
							{% endif %}
							id="{{ question.handle }}"
							name="questions[{{ question.handle }}]">
							{% for option in question.options %}
								{% set selected = submission is defined and submission[question.handle]
									? submission[question.handle] == option.value
									: option.default %}
								<option {{ selected ? 'selected' }}>
									{{ option.label }}
								</option>
							{% endfor %}
						</select>


					{% case 'RadioButtons' %}
						<ul>
							{% for option in question.options %}
								<li>
									{% set selected = submission is defined and submission[question.handle]
										? submission[question.handle] == option.value
										: option.default %}
									<input type="radio"
										id="{{ question.handle ~ loop.index }}"
										name="questions[{{ question.handle }}]"
										value="{{ option.value }}"
										{{ selected ? 'checked' }}>
									<label for="{{ question.handle ~ loop.index }}">{{ option.label }}</label>
								</li>
							{% endfor %}
						</ul>


					{% case 'Checkboxes' %}
						<fieldset class="rc">
							<ul>
								{% for option in question.options %}
									<li>
										{% set selected = submission is defined and submission[question.handle]
											? option.value in submission[question.handle]
											: option.default %}
										<input type="checkbox"
											id="{{ question.handle ~ loop.index }}"
											name="questions[{{ question.handle }}][]"
											value="{{ option.value }}"
											{{ selected ? 'checked' }}>
										<label for="{{ question.handle ~ loop.index }}">{{ option.label }}</label>
									</li>
								{% endfor %}
							</ul>
						</fieldset>


					{% case 'Number' %}
						<div class="hidden_label">
							<label for="{{ question.handle }}">
								{{ question.name }}{% if question.required %}&nbsp;<em>*</em>{% endif %}
							</label>

							<input type="number"
								{% if question.required %}
									required
									aria-required="true"
									data-val-required="'{{ question.name }}' is required"
									data-val="true"
								{% endif %}
								class="text"
								placeholder="{{ question.name | upper }}"
								id="{{ question.handle }}"
								name="questions[{{ question.handle }}]"
								value="{{ submission is defined ? submission[question.handle] }}">
						</div>


					{% case 'Email' %}
						<div class="hidden_label">
							<label for="{{ question.handle }}">
								{{ question.name }}{% if question.required %}&nbsp;<em>*</em>{% endif %}
							</label>

							<input type="email"
								{% if question.required %}
									required
									aria-required="true"
									data-val-required="'{{ question.name }}' is required"
									data-val="true"
								{% endif %}
								class="text"
								placeholder="{{ question.name | upper }}"
								id="{{ question.handle }}"
								name="questions[{{ question.handle }}]"
								value="{{ submission is defined ? submission[question.handle] }}">
						</div>


					{% case 'Tel' %}
						<div class="hidden_label">
							<label for="{{ question.handle }}">
								{{ question.name }}{% if question.required %}&nbsp;<em>*</em>{% endif %}
							</label>

							<input type="tel"
								{% if question.required %}
									required
									aria-required="true"
									data-val-required="'{{ question.name }}' is required"
									data-val="true"
								{% endif %}
								class="text"
								placeholder="{{ question.name | upper }}"
								id="{{ question.handle }}"
								name="questions[{{ question.handle }}]"
								value="{{ submission is defined ? submission[question.handle] }}">
						</div>


					{% case 'Url' %}
						<div class="hidden_label">
							<label for="{{ question.handle }}">
								{{ question.name }}{% if question.required %}&nbsp;<em>*</em>{% endif %}
							</label>

							<input type="url"
								{% if question.required %}
									required
									aria-required="true"
									data-val-required="'{{ question.name }}' is required"
									data-val="true"
								{% endif %}
								class="text"
								placeholder="{{ question.name | upper }}"
								id="{{ question.handle }}"
								name="questions[{{ question.handle }}]"
								value="{{ submission is defined ? submission[question.handle] }}">
						</div>


					{% case 'Date' %}
						<div class="hidden_label">
							<label for="{{ question.handle }}">
								{{ question.name }}{% if question.required %}&nbsp;<em>*</em>{% endif %}
							</label>

							<input type="text"
								{% if question.required %}
									required
									aria-required="true"
									data-val-required="'{{ question.name }}' is required"
									data-val="true"
								{% endif %}
								class="text"
								pattern="\d{2}\/\d{2}\/\d{4}"
								placeholder="{{ question.name | upper }} (DD/MM/YYYY)"
								id="{{ question.handle }}"
								name="questions[{{ question.handle }}][date]"
								value="{{ submission is defined ? submission[question.handle] }}">
						</div>


					{% case 'Coded' %}
						{% if "referer" in question.handle %}
						{# Hidden Input Example for urls using 'form.html?referrer=eblast', or even changed by JS #}
							<input type="hidden"
								id="{{ question.handle }}"
								name="questions[{{ question.handle }}]"
								value="{{ craft.request.getQuery('referrer') is defined ? craft.request.getQuery('referrer') }}">
						{% endif %}

						{% if "tickets" in question.handle %}
						{# Multiple Generated Select Lists Example - contents could come from other pages etc, saves as a JSON array in the submission #}
							{% set customers = ["Adults", "Concession", "Child"] %}
							<fieldset>
								<legend>{{ question.name }}</legend>
								{% if question.required %}At least one required{% endif %}

								{% for customer in customers %}
							    
								<div class="hidden_label">
									<select 
										class="select"
										id="{{ question.handle }}-{{customer|lower}}"
										name="questions[{{ question.handle }}][{{customer}}]">
										<option value="">-</option>
										{% for i in 1..10 %}
											{# Set previously submmited value #}
											{% if submission is defined and submission[question.handle] is iterable %}
												<option value="{{i}}" {% if submission[question.handle][customer] == i %}
												selected
												{% endif %}>{{i}}</option>
											{% else %}
												<option value="{{i}}">{{i}}</option>
											{% endif %}
										{% endfor %}
									</select>

									<label for="{{ question.handle }}-{{customer|lower}}">
										{{customer}}
									</label>
								</div>
								{% endfor %}
							</fieldset>
						{% endif %}

					{% endswitch %}

			{% endfor %}

			<div class="btns">
				<input type="submit" class="submit action" id="btnSubmit" value="Submit" name="btnSubmit">
			</div>

		</fieldset>
	</div>
</form>
